<header class="navbar">
  <nav class="navbar__inner">
    <a
      [routerLink]="['/']"
      fragment="home"
      class="navbar__logo"
      aria-label="Granito de Mostaza"
      (click)="closeMenu()"
    >
      <img
        src="/logoMinimalista.png"
        alt="Granito de Mostaza"
        class="navbar__logo-img"
      />
    </a>
    <ul class="navbar__menu" [class.navbar__menu--open]="isMenuOpen">
      <li><a [routerLink]="['/']" fragment="home" (click)="closeMenu()">Inicio</a></li>
      <li><a [routerLink]="['/menu']" (click)="closeMenu()">Menú</a></li>
      <li><a [routerLink]="['/']" fragment="ubicacion" (click)="closeMenu()">Ubicación</a></li>
    </ul>

    <div class="navbar__actions">
      <button (click)="toggleCart()" class="navbar__cart relative" type="button">
        <i class="pi pi-shopping-cart navbar__cart-icon" aria-hidden="true"></i>
        <span>Carrito</span>
        <span *ngIf="cartCount() > 0" class="absolute -top-1 -right-1 flex h-5 w-5 items-center justify-center rounded-full bg-red-600 text-[10px] font-bold text-white shadow-sm">
          {{ cartCount() }}
        </span>
      </button>

      <a routerLink="/login-landing" class="navbar__cart" style="text-decoration: none; cursor: pointer;">
        <ng-container *ngIf="!isLoggedIn()">
          <i class="pi pi-user navbar__cart-icon" aria-hidden="true"></i>
          <span>Iniciar sesión</span>
        </ng-container>
        <ng-container *ngIf="isLoggedIn()">
          <div class="user-avatar">{{ userInitials() }}</div>
        </ng-container>
      </a>

      <button (click)="toggleMenu()" class="navbar__toggle" type="button" [attr.aria-expanded]="isMenuOpen">
        <i class="pi" [ngClass]="isMenuOpen ? 'pi-times' : 'pi-bars'" aria-hidden="true"></i>
      </button>
    </div>

    <div class="navbar__overlay" [class.navbar__overlay--open]="isMenuOpen" (click)="closeMenu()"></div>
  </nav>
</header>
